@import "_variables";
@import url("https://fonts.googleapis.com/css2?family=Caladea:ital@0;1&family=Righteous&display=swap");

body {
  margin: 0;
  height: 500%;
  background-color: #f9f9f9;
}

a {
  text-decoration: none;
  color: black;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 12px;
  .navbar__logo {
    font-size: 40px;
    font-weight: 630;
    padding: 30 60;
    img {
      width: 70px;
    }
  }
  .navbar__menu {
    display: flex;
    list-style: none;
    padding-left: 0;
    margin-right: 40px;
    font-size: 20px;
    li {
      padding: 8px 12px;
      margin: 15px;
      &:hover {
        background-color: rgba(113, 168, 148, 0.5);
        border-radius: 4px;
        padding: 8 12 8 12;
      }
    }
  }
}
.navbar__toggleBtn {
  display: none;
  position: absolute;
  right: 30px;
  font-size: 25px;
  padding: 5 0;
}

@media screen and (max-width: 910px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }
  .navbar__menu {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
    &:active {
      display: flex;
    }
    li {
      width: 100%;
      text-align: center;
    }
    .navbar__toggleBtn {
      display: block;
    }
  }
}
main {
  width: 100vw;
  display: flex;
  .section__left {
    width: 50%;
    height: 90%;
    padding-left: 80px;
    padding-top: 140px;
    display: flex;
    flex-direction: column;
    h1 {
      width: 90%;
      font-size: 80px;
      font-weight: 300;
      font-family: "Righteous", cursive;
      letter-spacing: 1px;
      color: #555560;
      margin: 0;
    }
    h2 {
      width: 77%;
      font-size: 28px;
      font-weight: 300;
      letter-spacing: 0.7px;
      margin: 30 0;
    }
    button {
      width: 25%;
      padding: 20;
      font-size: 16px;
      color: white;
      background-color: $pointColor;
      border-radius: 7px;
      border: none;
    }
  }
  .section__right {
    width: 50%;
    height: 90%;
    .illust {
      z-index: 1;
      position: absolute;
      right: 0;
    }
    .shape {
      width: 80%;
    }
    .stitch {
      z-index: 1;
      position: absolute;
      width: 6%;
      right: 600;
      top: 800;
    }
  }
}

article_1 {
  .article1__top {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 130px;
    h1 {
      font-size: 60px;
      font-family: "Righteous", cursive;
      letter-spacing: 1px;
      color: #555560;
    }
    h2 {
      display: flex;
      justify-content: center;
      margin: 5;
      width: 57%;
      font-size: 20px;
      font-weight: 300;
      letter-spacing: 0.7px;
    }
  }
  .article1__bottom {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 50 70 70 50;
    .card_1,
    .card_2,
    .card_3 {
      background-color: white;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 100 25;
      margin: 0 20;
      border-radius: 8px;
      box-shadow: 1px 1px 3px lightgray;
      img {
        width: 100px;
      }
      h1 {
        font-size: 25px;
        margin: 23;
      }
      h2 {
        margin: 0;
        font-size: 23px;
        font-weight: 200;
        letter-spacing: 1px;
        align-items: center;
      }
    }
  }
}

article_2 {
  display: flex;
  .feature__info {
    width: 45%;
    padding: 120 100;
    h1 {
      font-size: 60px;
      font-family: "Righteous", cursive;
      letter-spacing: 1px;
      color: #555560;
      margin: 28 0;
    }
    h2 {
      font-size: 24px;
      font-weight: 200;
      letter-spacing: 0.5px;
    }
  }
  .member__widget {
    width: 550px;
    height: 430px;
    margin: 80 30;
    padding: 30 0 0 35;
    background-color: white;
    border-radius: 20px;
    border: 4px solid;
    box-shadow: 18px 18px $pointColor;
    .members {
      display: flex;
      height: 300px;
      img {
        margin-right: 20px;
      }
      .name {
        h2 {
          font-size: 29px;
          margin-bottom: 0;
        }
        h3 {
          margin-top: 5px;
          margin-bottom: 42px;
          font-size: 17px;
          font-weight: 260;
        }
      }
    }
  }
}

article_3 {
  display: flex;
  .proposal__widget {
    width: 28%;
    height: 390px;
    margin: 60 100 60 130;
    padding: 40;
    background-color: white;
    border-radius: 20px;
    border: 4px solid;
    .profile {
      display: flex;
      img {
        width: 100px;
        height: 100px;
        margin-right: 20px;
      }
      .name {
        h2 {
          font-size: 35px;
          margin: 15 0 0 0;
        }
        h3 {
          margin-top: 5px;
          margin-bottom: 30px;
          font-size: 20px;
          font-weight: 260;
          letter-spacing: 1.5px;
        }
      }
    }
    h3 {
      font-size: 21px;
      font-weight: 350;
      letter-spacing: 1.7px;
      line-height: 1.5;
      margin: 0 0 25 0;
    }
    .item {
      display: flex;
      justify-content: space-between;
      width: 300px;
      h3 {
        font-size: 18px;
        font-weight: 300;
        margin: 0 0 10 0;
      }
    }
    .count {
      display: flex;
      justify-content: space-between;
      width: 265px;
      h1 {
        margin: 0;
      }
    }
    button {
      width: 100%;
      height: 55px;
      border-radius: 17px;
      background-color: #303031;
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 22px;
      font-size: 28px;
      letter-spacing: 1.5px;
    }
  }
  .feature__info_2 {
    width: 50%;
    padding: 100;
    img {
      width: 100px;
    }
    h1 {
      font-size: 60px;
      font-family: "Righteous", cursive;
      letter-spacing: 1px;
      color: #555560;
      margin: 20 0 30 0;
    }
    h3 {
      font-size: 20px;
      font-weight: 300;
      letter-spacing: 1.5px;
      line-height: 27px;
    }
  }
}
